<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true" lang="en">
<f:if condition="{locallang.overridePath}">
    <f:variable name="label" value="{f:translate(key: 'LLL:{locallang.overridePath}:{key}', arguments: arguments)}"/>
</f:if>
<f:if condition="{locallang.defaultPath} && {label} == ''">
    <f:variable name="label" value="{f:translate(key: 'LLL:{locallang.defaultPath}:{key}', arguments: arguments)}"/>
</f:if>
<f:if condition="{label} == ''">
    <f:then>[missing translation: {key}]</f:then>
    <f:else>{label}</f:else>
</f:if>
</html>