<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true" lang="en">
<f:if condition="{service.cookies -> f:count()} > 0">
    <br>
    <f:variable name="serviceTitle" value="{f:render(partial: 'Label', arguments: '{key:\'services.{service.name}.title\', locallang:locallang}')}"/>
    <strong>{f:render(partial: 'Label', arguments: '{key:\'cookies.title\', locallang:locallang}')}</strong>
    <p>{f:render(partial: 'Label', arguments: '{key:\'cookies.description\', locallang:locallang, arguments:\'{0:serviceTitle}\'}')}</p>
    <f:variable name="pathExists"/>
    <f:variable name="domainExists"/>
    <f:for each="{service.cookies}" as="cookie">
        <f:if condition="{cookie.path}">
            <f:variable name="pathExists" value="1"/>
        </f:if>
        <f:if condition="{cookie.domain}">
            <f:variable name="domainExists" value="1"/>
        </f:if>
    </f:for>
    <span class="table">
        <span class="tr">
            <span class="th">Name / Pattern</span>
            <f:if condition="{pathExists}">
                <span class="th">Path</span>
            </f:if>
            <f:if condition="{domainExists}">
                <span class="th">Domain</span>
            </f:if>
        </span>
        <f:for each="{service.cookies}" as="cookie">
            <span class="tr">
                <span class="td">{cookie.pattern}</span>
                <f:if condition="{pathExists}">
                    <span class="td">{cookie.path}</span>
                </f:if>
                <f:if condition="{domainExists}">
                    <span class="td">{cookie.domain}</span>
                </f:if>
            </span>
        </f:for>
    </span>
</f:if>
</html>