<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true" lang="en">
<p class="cm-powered-by{f:if(condition: links.imprintLink, then:' d-flex')}">
    <f:if condition="{links.imprintLink}">
        <f:link.typolink parameter="{links.imprintLink}" class="imprintLink" target="_blank" additionalAttributes="{rel:'noopener'}"/>
    </f:if>
    {f:translate(
    key: locallang.fullKey
    )-> f:link.typolink(
    parameter: configuration.poweredBy,
    additionalAttributes: '{rel:\'noopener\'}',
    target: '_blank')}
</p>
</html>